{pre_hooks, [
  {compile, "./priv/compile_bullet.sh"}
]}.

{port_sources, ["c_src/*.cpp"]}.
{port_envs, [
  %%{"CC","g++"},
  %%${"CXX","g++"}
   {"CXXFLAGS", "$CXXFLAGS  -I./deps/bullet/src"}
   %%{"LDFLAGS", "-L/usr/local/lib -lBulletDynamics -lBulletCollision -lLinearMath"}
]}.


{pre_hooks, [
  {compile, "./priv/compile_bullet.sh"}
]}.


{deps, [
  {bullet, "", {git, "https://github.com/bulletphysics/bullet3.git"}, [raw]}
]}.