
{port_sources, ["c_src/*.cpp"]}.
{port_envs, [
  %%{"CC","g++"},
  %%${"CXX","g++"}
   {"CXXFLAGS", "$CXXFLAGS  -Ideps/bullet/src"}
   %%{"LDFLAGS", "-L/usr/local/lib -lBulletDynamics -lBulletCollision -lLinearMath"}
]}.


{pre_hooks, [
  {compile, "echo Fetching Bullet to `pwd`"},
  {compile, "mkdir deps"},
  {compile, "git clone https://github.com/bulletphysics/bullet3.git"},
  {compile, "mv bullet3 deps/"},
  {compile, "./priv/compile_bullet.sh"}
]}.

